@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" href="@Url.Action("Logout", "Account", new { area = "" })">Login</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" href="@Url.Action("Register", "Account", new { area = "" })">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" href="@Url.Action("Login", "Account", new { area = "" })">Login</a>
        </li>
    }
</ul>
